[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
Cython = "*"
Pillow = "*"
scipy = "*"
nuitka = {editable = true, ref = "factory", git = "https://github.com/Nuitka/Nuitka.git"}

[dev-packages]

[requires]
python_version = "3.9"
